* {
	box-sizing: border-box;
}

html {
	background: $color-black url("../images/background.png");
}

body {
	min-width: $card-width;
	font-family: $font-trebuchet;
	-webkit-font-smoothing: antialiased;
	color: $color-black;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, transparent, rgba(0, 0, 0, 0.5) 100%);
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}

h1 {
	margin-bottom: 24px;
	font-family: $font-exo2;
	font-weight: 100;
	font-size: 36px;
	text-align: center;
	color: $color-white;
}
